extends layout

block content

  h1 ZOOMojis, learn about us.
  .topnav
    button#memojisButton memojis
    button#beccaButton Becca
    button#bridgetButton Bridget
    button#lilyButton Lily
    button#domButton Dom 
    button#zoomButton Zoom
    button#quizButton Quiz
    script(src='javascripts/client.js')

  .main
    p Answer the following questions to figure out if you are most like Becca, Bridget, Lily, or Dom!
  

    each val in questions
        h2 !{JSON.stringify(val["question"].replace(/["]+/g, ''))}

        div
            input.form-control(type='radio', name=val, value='a')
            label(for 'a') !{JSON.stringify(val["answers"]["a"])}
     
        div
            input.form-control(type='radio', name=val, value='b')
            label(for 'b') !{JSON.stringify(val["answers"]["b"])}
    
        div
            input.form-control(type='radio', name=val, value='c')
            label(for 'c') !{JSON.stringify(val["answers"]["c"])}
        div
            input.form-control(type='radio', name=val, value='d')
            label(for 'd') !{JSON.stringify(val["answers"]["d"])}

    br
    button(onclick="resultsHandler()") Results
    br
    br
    //- button(onclick="window.location.reload();") Retake Quiz
        
    
    br
    br
    div(id="result")
    br

    script.
        function resultsHandler(){
            console.log("Clicked on submit button")
            var aCount = 0;
            var bCount = 0;
            var cCount = 0;
            var dCount = 0;
            
            
            var answer = document.getElementById("result"); //results
            var elements = document.getElementsByTagName('input');
            
            for (i = 0; i < elements.length; i++){
                if(elements[i].type = 'radio'){
                    if(elements[i].checked){
                        switch(elements[i].value){
                            case 'a':
                                aCount += 1;
                                break;
                            case 'b':
                                bCount += 1;
                                break;
                            case 'c':
                                cCount += 1;
                                break;
                            case 'd':
                                dCount += 1;
                                break;
                            default:
                                break;
    
                        }
                    }
                }
            } 
        
            let winner = Math.max(aCount, bCount, cCount, dCount);

            if(winner == aCount){
                console.log('Becca');
                answer.innerHTML="Becca"
                //- res.render('results', {answer: 'You are most like Becca!'});
            }else if (winner == bCount){
                console.log('Bridget');
                answer.innerHTML="Bridget"
                //- res.render('results', {answer: 'You are most like Bridget!'});
            }else if (winner == cCount){
                console.log('Lily');
                answer.innerHTML="Lily"
                //- res.render('results', {answer: 'You are most like Lily!'});
            }else if (winner == dCount){
                console.log('Dom');
                answer.innerHTML="Dom"
                //- res.render('results', {answer: 'You are most like Dom!'});
            }else {
                answer.innerHTML="Take the quiz again"
                //- res.render('results', {answer: 'There was an error, please retake the quiz'}); 
            }
 
        }
    

    //- button#resultsButton Results
    //- br
    //- br
    //- button(onclick="window.location.reload();") Retake Quiz
        
    
    //- br
    //- br
    //- div(id="result")
    //- #{results}
    //- br
    //- br
