extends layout

block content

  h1 ZOOMojis, learn about us.
  .topnav
    button#memojisButton memojis
    button#beccaButton Becca
    button#bridgetButton Bridget
    button#lilyButton Lily
    button#domButton Dom 
    button#zoomButton Zoom
    button#quizButton Quiz
    script(src='javascripts/client.js')

  .main
    p Answer the following questions to figure out if you are most like Becca, Bridget, Lily, or Dom!
  

    each val in questions
        h2 !{JSON.stringify(val["question"].replace(/["]+/g, ''))}

        div
            input.form-control(type='radio', name=val, value='a')
            label(for 'a') !{JSON.stringify(val["answers"]["a"])}
     
        div
            input.form-control(type='radio', name=val, value='b')
            label(for 'b') !{JSON.stringify(val["answers"]["b"])}
    
        div
            input.form-control(type='radio', name=val, value='c')
            label(for 'c') !{JSON.stringify(val["answers"]["c"])}
        div
            input.form-control(type='radio', name=val, value='d')
            label(for 'd') !{JSON.stringify(val["answers"]["d"])}

    br
    button#resultsButton Results
    script(src='javascripts/client.js')
